<strong>Are you sure you want to delete the following task?</strong>

<i><%= @task.name %></i>

<%= link_to '<button type="button">Yes</button>'.html_safe, task_delete_path %>

<button type="button">No</button>
