<h1>all of the tasks</h1>

<!-- <ol>
   @tasks.each do |e|
  <li>
    <ul>
     e.each do |i, j|
      <li>"#{ i }: #{ j }"</li>
     end
    </ul>
  </li>
  <br>
 end
</ol> -->

<ol>
  <% @tasks.each do |t| %>
    <p>
      <li><strong><%= "#{ t.name.capitalize }: " %></strong><%= link_to "Details here", task_path(t) %></li>

    </p>
    <% end %>
</ol>
